<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-0 text-center">
		<span class="glyphicon glyphicon-calendar page-heading"></span>
	</div>
	<div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
		<h2>News/Events</h2>
	</div>
</div>
<hr/>

<div class="row-fluid" style="margin-right:15px;">
	<div class="pull-right">
		<button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#addModal" ng-click="addItem(0)">
			<span class="glyphicon glyphicon-plus"></span>
			Add Event
		</button>
		<button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#addModal" ng-click="addItem(1)">
			<span class="glyphicon glyphicon-plus"></span>
			Add News Item
		</button>
	</div>
</div>

<br/><br/><br/>

<div class="row-fluid">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="event in events track by $index">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<p ng-show="false">{{event.eventId}}</p>
				<h3>{{event.eventName}}</h3>
			</div>
			<div class="panel-body">
				<p>{{event.eventBody}}</p>
				<br/>
				<div class="pull-right">
					<button class="btn btn-default btn-primary"
						data-toggle="modal"
						data-target="#updateModal"
						ng-click="openUpdateModal(event.eventId)">
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
					</button>
					<button class="btn btn-default btn-primary"
						ng-click="viewItem(event.eventId)"
						data-toggle="modal"
						data-target="#viewModal">
						<span class="glyphicon glyphicon-eye-open"></span>
						View
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add Modal -->
<div class="modal fade"
	id="addModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="addModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	        <div class="modal-header">
	    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="addModal = false;">&times;</span></button>
	    		<h4 class="modal-title" id="myModalLabel">Add Event/News</h4>
	    	</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1">
						Title:
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11">
						<input type="text"
							class="form-control"
							placeholder="Type title here"
							ng-model="newItem.eventName">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1">
						Body:
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11">
						<textarea class="form-control"
							placeholder="Type details about event/news here"
							ng-model="newItem.eventBody">
						</textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addModal=false;">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="addNewItem()">Add</button>
			</div>
    	</div>
	</div>
</div>

<!-- Update Modal -->
<div class="modal fade"
	id="updateModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="updateModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	        <div class="modal-header">
	    		<button type="button"
	    			class="close"
    				data-dismiss="modal"
    				aria-label="Close"
    				ng-click="updateModal = false">
					<span aria-hidden="true">&times;</span>
				</button>
	    		<h4 class="modal-title" id="myModalLabel">Update Item</h4>
	    	</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1">
						Title:
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11">
						<input type="text" class="form-control" placeholder="Type title here" ng-model = "selectedItem.title">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1">
						Body:
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11">
						<textarea class="form-control" placeholder="Type details about event/news here" ng-model="selectedItem.body">
							{{selectedItem.body}}
						</textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click = "updateModal = false">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateItem()">Update</button>
			</div>
    	</div>
	</div>
</div>

<!-- View Modal -->
<div class="modal fade"
	ng-show="viewModal"
	id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModal">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	        <div class="modal-header">
	    		<button type="button"
	    			class="close"
	    			data-dismiss="modal"
	    			aria-label="Close"
	    			ng-click="viewModal = false;">
	    				<span aria-hidden="true">&times;</span>
    			</button>
	    		<h4 class="modal-title" id="myModalLabel">View Item</h4>
	    	</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1">
						Title:
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11">
						<input type="text" class="form-control" ng-model="selectedItem.title" readonly>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1">
						Body:
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11">
						<textarea class="form-control" readonly ng-model="selectedItem.body">
							{{selectedItem.body}}
						</textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button"
					class="btn btn-default"
					data-dismiss="modal"
					ng-click="viewModal = false;">
					Close
				</button>
			</div>
    	</div>
	</div>
</div>